$huge_Screen: 93.75em; // 1800px
$large_Screen: 81.25em; // 1300px
$medium_Screen: 71.76em; // 1150px
$extra_Medium_Screen: 59.3em; // 950px
$small_Screen: 37.5em; // 600px
$extra_Small_Screen: 31.8em; // 510px
$extra_Extra_Small_Screen: 23.75em; // 380px
//
$extra_Large_Screen: 71.8em; // 1150px
$extra_Extra_medium_ScreenH: 62.5em; // 1000px
$small_ScreenH: 56.25em; // 900px
$extra_Small_Screenh: 37.5em; // 600px
$extra_Extra_Small_Screenh: 31.25em; // 500px

$extra_Extra_Small_ScreenH: 22.5em; // 360px